.rotate-0 {
    transform: rotate(0deg);
}

.rotate-60 {
    transform: rotate(60deg);
    .hex-child {
    transform: rotate(-60deg);
    }
}

.rotate-120 {
    transform: rotate(120deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-240 {
    transform: rotate(240deg);
}

.rotate-300 {
    transform: rotate(300deg);
}